/* ------------------------------------ 

CSS TABLE OF CONTENTS 

# GLOBAL CSS 
    
    # TYPOGRAPHY
        # BODY
        # HEADINGS
        # LINKS
        # HORIZONTAL RULE
        # HELPERS
        # TYPE SPECIMEN
    # BUTTONS
    # MEDIA
        # IMG
    # LAYOUT
        # MEDIA QUERIES
        # CONTAINER
        # RESPONSIVE TYPE
    # GRID
        # SEMENTIC COLUMNS (1/2, 1/3, ETC)
        # GRID HELPERS (SWAP, CENTER)
    # STRUCTURE
        # SITE-HEADER
        # SITE-FOOTER
        # SITE-NAV
        # SECTIONS
            # HERO SECTIONS

------------------------------------  */
/* HEADING */
body {
  font-family: "Fira Sans", sans-serif;
  font-size: 100%;
  line-height: 1.4;
  color: #ffffff; }

h1, h2, h3, h4 {
  font-family: "Dosis", sans-serif;
  margin: .5em 0;
  font-weight: 400; }

h1 {
  font-size: 4.375em;
  line-height: 1; }

h2 {
  font-size: 3em;
  line-height: 1.1; }

h3 {
  font-size: 1.5em;
  line-height: 1.2; }

h4 {
  font-size: 1.125em;
  line-height: 1.2; }

h5 {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.5em;
  line-height: 1.2; }

p {
  max-width: 35em;
  opacity: 0.7; }

a {
  color: white; }

a:hover {
  color: #FFFFB7; }

/* TYPE SPECIMEN */
.sectionhead {
  text-align: center;
  line-height: 1;
  text-transform: lowercase;
  letter-spacing: .04em;
  margin-bottom: 1em;
  margin-top: 0; }

button {
  font-size: inherit; }

button,
.button {
  background-color: white;
  color: #fff;
  padding: 1em 1.6em;
  display: inline-block;
  margin: .5em;
  border-radius: .5em;
  margin-bottom: 2em;
  border: 1px solid white;
  cursor: pointer;
  text-decoration: none; }
  button:hover,
  .button:hover {
    background-color: #FFFFB7;
    color: #fff;
    border-color: #FFFFB7; }
  button.alt,
  .button.alt {
    color: white;
    background-color: white;
    border: 1px solid white; }
    button.alt:hover,
    .button.alt:hover {
      background-color: #FFFFB7;
      color: #fff;
      border-color: #FFFFB7; }
  button.dark,
  .button.dark {
    color: #fff;
    background-color: transparent;
    border-color: #fff; }
  button:hover,
  .button:hover {
    background: #fff;
    color: #000; }

.text-link {
  font-size: 0.875em;
  opacity: 0.7;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .text-link:hover {
    opacity: 1;
    color: white; }

img {
  max-width: 100%;
  height: auto; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 87.5%;
  margin: 0; }

.container {
  padding: 0 4%;
  margin: 0 auto; }

@media (min-width: 768px) {
  body {
    font-size: 100%; } }

@media (min-width: 1050px) {
  .container {
    max-width: 1000px; } }

@media (min-width: 1250px) {
  body {
    font-size: 112.5%; }
  .container {
    max-width: 1050px; } }

.row .column {
  margin-bottom: 2%;
  padding: 1em; }

@media (min-width: 768px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -1%;
    margin-right: -1%; }
    .row.swap {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
    .row.center {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .row .column {
      color: #44dda8;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      margin: 1%; }
      .row .column.one-half {
        width: 48%; }
      .row .column.one-third {
        width: 31.3333%; }
      .row .column.two-thirds {
        width: 64.6666%; }
      .row .column.one-fourth {
        width: 23%; } }

.site-header {
  padding: 1em;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .site-header h1 {
    font-family: "Fira Sans", sans-serif;
    font-size: 1em;
    margin: .5em 0 0 0; }
  .site-header a {
    color: white;
    text-decoration: none; }

.site-header {
  background-color: transparent;
  position: absolute;
  width: 100%; }

.site-footer {
  color: white;
  text-align: center;
  margin-top: 6em;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto; }

.footer-text {
  letter-spacing: 0.04em; }

.copyright {
  text-align: center;
  font-size: 0.875em;
  opacity: 0.5;
  max-width: none; }

.site-header .site-nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  place-items: center; }
  .site-header .site-nav ul {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    list-style: none; }
  .site-header .site-nav li {
    font-family: "Dosis", sans-serif;
    text-align: center;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-size: 4.375em;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    opacity: 0; }
  .site-header .site-nav a {
    display: block;
    padding: 0.15em; }
  .site-header .site-nav.active {
    height: 100%;
    position: fixed;
    z-index: 100;
    background: black; }
    .site-header .site-nav.active ul {
      top: 50%; }
    .site-header .site-nav.active li {
      -webkit-transition: all 0.4s cubic-bezier(0.36, 0.21, 0.41, 1.01);
      -o-transition: all 0.4s cubic-bezier(0.36, 0.21, 0.41, 1.01);
      transition: all 0.4s cubic-bezier(0.36, 0.21, 0.41, 1.01);
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      opacity: 1; }
      .site-header .site-nav.active li:nth-child(1) {
        -webkit-transition-delay: 0;
        -o-transition-delay: 0;
        transition-delay: 0; }
      .site-header .site-nav.active li:nth-child(2) {
        -webkit-transition-delay: .15s;
        -o-transition-delay: .15s;
        transition-delay: .15s; }
      .site-header .site-nav.active li:nth-child(3) {
        -webkit-transition-delay: .3s;
        -o-transition-delay: .3s;
        transition-delay: .3s; }
      .site-header .site-nav.active li:nth-child(4) {
        -webkit-transition-delay: .45s;
        -o-transition-delay: .45s;
        transition-delay: .45s; }

.site-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }

.site-nav a {
  display: block;
  padding: 1em; }

.menu-button {
  position: absolute;
  top: 2em;
  right: 2em;
  cursor: pointer;
  z-index: 200; }

section {
  padding: 9em 0;
  display: -ms-grid;
  display: grid;
  place-items: center; }

.hero {
  text-align: center; }

body {
  background-image: -webkit-linear-gradient(135deg, #C58FE2, #ee7752, #e73c7e, #57B6D3, #23d5ab);
  background-image: -o-linear-gradient(135deg, #C58FE2, #ee7752, #e73c7e, #57B6D3, #23d5ab);
  background-image: linear-gradient(-45deg, #C58FE2, #ee7752, #e73c7e, #57B6D3, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradientBG 15s ease infinite;
  animation: gradientBG 15s ease infinite; }

@-webkit-keyframes gradientBG {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes gradientBG {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.container-dark {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 5em 7em;
  border-radius: 20px;
  text-align: left; }

#description {
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  font-size: 4.375em;
  min-width: 40px;
  line-height: 1.4em;
  display: inline-block;
  border-bottom: 2px solid white;
  position: relative; }
  #description:focus {
    outline: 0; }
  #description::after {
    outline: none;
    content: 'X';
    position: absolute;
    right: -50px; }

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  color: rgba(255, 255, 255, 0.2); }
