// VARIABLES
$body-fontfamily: 'Fira Sans', sans-serif;
$heading-fontfamily: 'Dosis', sans-serif;

// COLORS
$color-text-body: rgb(255, 255, 255);
$color-links: rgb(255, 255, 255);
$color-links-dark: #FFFFB7;
$color-accent: #FFFFB7;


// BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// IMPORT PARTIALS
@import 'partials/toc';
@import 'partials/typography'; 
@import 'partials/buttons'; 
@import 'partials/media';  
@import 'partials/layout';  
@import 'partials/grid';  
@import 'partials/structure';  