// site header

.site-header {
    padding: 1em;
    color: white;
    display: flex;
    justify-content: space-between;

    h1 {
        font-family: $body-fontfamily;
        font-size: 1em;
        margin: .5em 0 0 0; //to adjust baseline 
    }

    a {
        color: white;
        text-decoration: none;
    }
}

// site header
.site-header {
    background-color: transparent;
    position: absolute;
    width: 100%;
}


// site footer
.site-footer {
    color: white;
    // justify-content: center;
    text-align: center;
    margin-top: 6em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
}

.footer-text {
    letter-spacing: 0.04em;
}

.copyright {
    text-align: center;
    font-size: 0.875em;
    opacity: 0.5;
    max-width: none;
}

// site navigation
.site-header .site-nav {
    // position: fixed; 
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;

    ul {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        font-family: $heading-fontfamily;
        text-align: center;
        letter-spacing: 7px;
        text-transform: uppercase;
        font-size: 4.375em;
        transform: translateY(-30px);
        opacity: 0;

    }

    a {
        display: block;  //to adjust height in the middle
        padding: 0.15em;
    }

    &.active {
        height: 100%;
        position: fixed;
        z-index: 100;
        ul {
            top: 50%;
            // display: block;
        }
        li {
            transition: all .4s cubic-bezier(.36,.21,.41,1.01);
            transform: translateY(0);
            opacity: 1;
            &:nth-child(1) {transition-delay: 0;}
            &:nth-child(2) {transition-delay: .15s;}
            &:nth-child(3) {transition-delay: .3s;}
            &:nth-child(4) {transition-delay: .45s;}
        }
        background: rgb(0, 0, 0);
    }
}

.site-nav {
    ul {
        display: flex;
        list-style: none;
    }
    a {
        display: block;
        padding: 1em;
    }
}

// MENU BUTTON

.menu-button {
    position: absolute;
    top: 2em;
    right: 2em;
    cursor: pointer;
    z-index: 200;
}

section {
    padding: 9em 0;
    // min-height: 100vh;
    display: grid;
    place-items: center;
}


// HERO SECTION

.hero {
    // padding: 6em 1em;
    text-align: center;

}

// BACKGROUND GRADATED ANIMATION

body {
    // transition: background 1s ease;
    // background: #9C91D1;
    
    background-image: linear-gradient(-45deg, #C58FE2, #ee7752, #e73c7e, #57B6D3, #23d5ab);
	background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.container-dark {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 5em 7em;
    border-radius: 20px;
    text-align: left;
}


// DYNAMIC INPUT 

#description {
    font-family: $heading-fontfamily;
    text-transform: uppercase;
    font-size: 4.375em;
    min-width: 40px;
    line-height: 1.4em;
    // letter-spacing: 0.02em;
    display: inline-block;
    border-bottom: 2px solid white;
    position: relative;
    
    &:focus {outline:0;}
    
    // &::before {
    //   content: "\1F50D";
    //   position: absolute;
    //   top: .5em;
    //   left: -1em;
    // }
    
    &::after {
      outline: none;
      content: 'X';
      position: absolute;
      right: -50px;
    }
  }
  
  [contenteditable=true]:empty:before {
    content: attr(placeholder);
    color: rgba(255,255,255,0.2);
  }
  

//   .close-icon {
//       border:1px solid transparent;
//       background-color: transparent;
//       display: inline-block;
//       vertical-align: middle;
//       outline: 0;
//       cursor: pointer;
//   }
//   .close-icon:after {
//       content: "X";
//       display: block;
//       width: 30px;
//       height: 30px;
//       position: absolute;
//       background-color: #FA9595;
//       z-index:1;
//       right: 35px;
//       top: 0;
//       bottom: 0;
//       margin: auto;
//       padding: 2px;
//       text-align: center;
//       color: white;
//       font-weight: normal;
//       font-size: 50px;
//       box-shadow: 0 0 2px #E50F0F;
//       cursor: pointer;
//   }