/* HEADING */

body {
    font-family: $body-fontfamily;
    font-size: 100%;
    line-height: 1.4;
    color: #ffffff;
}

h1, h2, h3, h4 {
    font-family: $heading-fontfamily;
    margin: .5em 0;
    font-weight: 400;
}

h1 {
    
    font-size: 4.375em;
    line-height: 1;
}

h2 {
    font-size: 3em;
    line-height: 1.1;
}

h3 {
    font-size: 1.5em;
    line-height: 1.2;
}

h4 {
    font-size: 1.125em;
    line-height: 1.2;
}

h5 {
    font-family: $body-fontfamily;
    font-size: 1.5em;
    line-height: 1.2;

}

p {
    max-width: 35em;
    opacity: 0.7;
}

// LINKS
a {color:$color-links;}
a:hover {color:$color-links-dark;}


/* TYPE SPECIMEN */
.sectionhead {
    text-align: center;
    line-height: 1;
    text-transform: lowercase;
    letter-spacing: .04em;
    margin-bottom: 1em;
    margin-top: 0;
}

.subhead {
    text-transform: uppercase;
    letter-spacing: 0.07em;
}